/* ******** IMPORT ******************/
@import './components/mixins';
@import './components/variable';
@import './components/typo';
@import './components/header';
@import './components/nav';
@import './components/main';
@import './components/sidebar';
@import './components/footer';


/* ******** RESET ******************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 63.5%;
    line-height: 1.15;
}

body{
    color: #071f32;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
}
.logo__fonds{
        background: url(/assets/img/svg/fond.svg) no-repeat 50%;
        background-size: cover;
        height: 73.1rem;
        left: 40%;
        pointer-events: none;
        position: absolute;
        top: -19rem;
        transform: translateX(-50%);
        width: 78rem;
        z-index: 2000;
}

/* ******** MEDIA QUERY ******************/