.header__top{
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(7,31,50,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    height: 77px;
    display: flex;
    align-items: center;
}