
.container{
    display: grid;
    grid-template-columns: 26fr 55fr 24fr;
    grid-column-gap: 3rem;
    margin: 0 3rem 0 1.5rem;
    max-width: 178rem;

    margin: 0 1rem;
    margin-top: 7rem;

    text-align: center;
    h2{
        position: absolute;
        width: inherit;
        padding: 1rem;
        background-color: $blueligth;
        z-index: 100;
        color: $whrit;
        transform: skewY(-5deg);
        font-size: 3rem;
        margin-top: 2rem;
    }


    &__adress{
        display: flex;
        margin-bottom: 1.3rem;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        align-items: center;

        &-link{
            background: #f4f3f3;
            border: 0;
            margin: 1rem;
            padding: 1rem 1.4rem;
            color:$color-text1;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            width: max-content;
        }

        &-linkred{
            text-transform: uppercase;
            text-decoration: none;
            color: $red;
        }
        img{
            margin: .3rem;
        }
        a{
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    &__icon{
        text-align: left;
        width: 80%;
        margin: auto;
      

        a{
            text-decoration: none;
            color: $color-text1;
            font-size: 1.3rem;
        }
        &-link{
            align-items: center;
            border-top: 0.2rem solid #f2f2f2;
            display: flex;
            margin: 0;
            padding: 1.3rem 0 1.7rem;
            position: relative;
        }
        &-img{
            align-items: center;
            background: #f2f2f2;
            border-radius: 50%;
            display: flex;
            flex-shrink: 0;
            height: 5.6rem;
            justify-content: center;
            margin-right: 1.6rem;
            transition: background-color .2s ease;
            width: 5.6rem;

            img{
                height: 3.2rem;
                transition: fill .2s ease;
                width: 3.2rem;
            }
            span{
                color: $color-text1;
            }
        }
    }
    &__buttons{
        display: flex;
        flex-direction: column;
    }
    &__services{
        flex: .5;
        article {
                margin-top: 10rem;
            }
    }
    &__actualite{
        flex: 1;

        &-cards{
            
        }
        &-card {
            position: relative;
            color: #071f32;
            display: flex;
            flex-direction: column;
            height: -moz-fit-content;
            height: fit-content;
            margin-bottom: 2rem;
            text-decoration: none;
            width: 80%;
            margin: 0 auto;

            h4{
                font-size: 4.2rem;
                font-weight: 900;
                line-height: 1.14;
                margin-bottom: 1rem;
            }
            &-box{
                overflow: hidden;
                img{
                    z-index: 9999;
                    width: 100%;
                };
            }
            
            &-box-text {

                background: #fff;
                padding: 2rem;
                margin-top: -6rem;
                margin-left: 8rem;
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                text-align: left;
                z-index: 1;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, 50%);
                width: 80%;
                bottom: -30%;
                    margin-top: -1.8rem;
                h3{
                    background-color: $blueligth;
                    transform: skewY(-5deg);
                    padding: 1rem;
                    margin-top: -4rem;
                    font-size: 1.3rem;
                    color:$whrit;
                }
            }
        }

    }
    &__telex{
        flex: .5;

        &-items{
            list-style: none;
            margin-top: 10rem;
            text-align: left;
        }

        &-item {
            border-bottom: 0.1rem solid #e8e8e8;
            display: flex;
            margin: 0;
            padding: 1.5rem 0 2.5rem;
            position: relative;

            &-imglogo{
                display: block;
                margin-left: .5rem;
                width: 2rem;
            }
            &-img{
                display: block;
                margin-top: 2rem;
                width: 100%;

            }

            &::after{
                background: #e22c3f;
                bottom: 0;
                content: "";
                left: 1.6rem;
                position: absolute;
                top: 9.3rem;
                width: 0.1rem;
            }
            &-time{
                flex-grow: 0;
                flex-shrink: 0;
                font-size: 2.8rem;
                font-weight: 600;
                line-height: 1;
                margin: 0 2rem 0.7rem 0;
                padding-top: 0.1rem;
            }
        }
    }
}