
@mixin displayFlex($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin transformH2(){
                   
    background-color: $blueligth;
    transform: skewY(-5deg);
    padding: 1rem;
    font-size: 1.3rem;
    color: $whrit;
}